.features{
  padding-top: 75px;
  .item{
    margin-top: 70px;
    .fa{
      font-size: 62px;
      color: #848484;
    }
    p{
      text-align: center;
      font-family: "ralewayRegular", sans-serif;
      font-size: 18px;
      line-height: 21px;
      padding: 0px 32px;
    }
  }
}
