footer{
  height: 350px;
  margin-top: 55px;
  background-color: $dark;
  color: #ECF0F1;
  h2{
    font-family: "rl-semibold", sans-serif;
    font-size: 22px;
    margin-top: 47px;
  }
  hr{
    margin-left: 0;
  }
  p{
    font-family: "rl-regular", sans-serif;
    font-size: 18px;
    padding-top: 28px;
  }
  .info{
    .fa{
      padding-right: 15px;
    }
    span{
      font-family: "rl-light", sans-serif;
      font-size: 18px;
    }
  }
  .networks{
    padding-left: 43px;
    .fa{
      padding-right: 10px;
      font-size: 18px;
    }
    span{
      font-family: "rl-regular", sans-serif;
      font-size: 18px;
    }
    a{
      margin-top: 20px;
      text-decoration: none;
      color: #ECF0F1;
    }
  }
}
