@import "fonts";
@import "libs";
@import "vars";
body{
  padding-top: 75px;
}
.button{
  font-family: "rl-light", sans-serif;
  background-color: $accent;
  display: inline-block;
  text-transform: uppercase;
  transition: background-color ease .4s;
  &:hover{
    cursor: pointer;
    background-color: lighten($accent, 15%);
  }
}
h1{
  font-family: "rl-bold", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
}
hr{
  max-width: 225px;
  border-top: $accent solid 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
}
@import "header";
@import "articles";
@import "sub";
@import "video";
@import "gallery";
@import "footer";
@import "media"; // Всегда в конце
